*{
    margin: 0;
    padding: 0;
}
:root {
    --color_el:#95e1d3;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.wrp {
    max-width: 1200px;
    margin: 0 auto;
  }
.header_wrp {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 90px;
}
.list {
    list-style: none;
    padding:0;
    display: flex;
 }
 .logo-img {
    display: block; 
 }
 .list-item {
    position: relative;
 }
.list-link { 
    /* Проюлема с font-weight выше 400  */
    font-family: 'Montserrat1', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 30px;
    color: var(--color_el);
    font-size: 14px;
    font-weight: 600;
    transition:0.5s ease ;
 }
.list-link::after {
    position: absolute;
    content:"";
    width: 0;
    height: 25px;
    background: #95e1d3;
    top: 30px;
    left: 50%;
    transition:  background 0.9s, height 0.8s, width .7s, left .7s;    
  }
 .list-link:hover::after {
    height: 2px;
    width: 60%;
    left:20%;
    background: #f38181;
 }
.list-item:hover .list-link {
    transition:0.5s ease ;
    color: #f38181;
}
.title4 {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    margin-bottom: 25px;
}
.mar-titl {
    margin-top: -20px;
}
.title3 {
    /* Проблема с font-weight выше 400  */
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 800;
    position: relative;
    margin-bottom: 80px;
}
.title3::after {
    content: "";
    width: 60px;
    height: 3px;
    background-color: #f38181;
    position: absolute;
    top: 80px;
    left: 48%;
}
.description-centr {
    text-align: center;
    width: 940px;
    margin: 0 auto;
    margin-bottom: 70px;
}
.our-services {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-content: space-around;
    height: 340px;
    margin-bottom: 40px;
}
.service {
    display: flex;
    width: 360px;
    
}
.color-description{
    color: #b6b6b6;
}
.service-description-title {
    display: block;
    text-transform: uppercase;
    padding-bottom: 15px;
    font-family: 'Montserrat1', sans-serif;
    font-style: 14px; /*не применяется */
    color: black;
}
.service-icon {
    align-self:flex-start;
    padding: 0 30px 0 20px;
}
.cards-team {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}
.card-team {
    width: 380px;
    height: 640px;
}
.team-photo-wrp {
    width: 380px;
    height: 470px;
    background-color: var(--color_el);
    cursor: pointer;
    position: relative;
 }
.team-photo {
    transition: 0.6s ease;
    bottom: 0;
    right: 0;
    position: relative;
}
.team-photo-wrp:hover .team-photo{
    bottom: 10px;
    right: 10px;
 }
 .photo-gradient {
    width: 100%;
    height: 100%;
    transition: 0.6s ease; 
    position: absolute; 
    bottom: 0;
    right: 0;  
    opacity: 0;
    background: linear-gradient(#ed8889, #eed787); 
    /* display: flex;
    justify-content: center;
    align-items: center;  */
 }
.team-photo-wrp:hover .photo-gradient {
    bottom: 10px;
    right: 10px; 
    opacity: 0.8;  
 }
 .links {
    transition: 0.6s ease; 
    position: absolute; 
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 40%;
    left: 20%;
    opacity: 0;
 }
 .team-photo-wrp:hover .links {
    bottom: 42%;
    left: 18%; 
    opacity: 1;
 }
.links-social {
    display: flex;
    justify-content: center;
    align-items: center;
    --s: 57px;
    width: var(--s);
    height: var(--s);
    background: #fce38a;
    margin-right: 1px;
 }
 .links-social:hover {
    background: var(--color_el);
 }   
.team-name {
    font-family: 'Montserrat1', sans-serif;
    font-size: 14px;
    color: black;
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    line-height: 2;
  }
.team-profession {
    display: block;
    color: #b6b6b6;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-transform: none;
   }
.foot {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
  }
.foot::before {
    content: "";  
    width: 100%;
    height: 1px;
    background-color: #b6b6b6;
    position: absolute;
    top: -10px;
    left: 0;
  }
.footer-copyright{
    font-family: 'Montserrat1', sans-serif;
    font-size: 14px;
    padding: 25px 0;
  }
.footer-copyright-red{
    color: #f38181;
}
form {
    height: 40px;
    border: 1px solid  #b6b6b6;
}
input {
    border:none;
}
input[placeholder] {
    width: 230px;
    color: #b6b6b6;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding-left: 15px;
    line-height: 30px;
}
input[value] {
    text-transform: uppercase;
    width: 150px;
    height: 40px;
    background-color: var(--color_el);
    color: white;
    font-family: 'Montserrat1', sans-serif;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid var(--color_el);
}



           