* {
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.wrapper {
  width: 1170px;
  margin: auto;
  padding: 0 15px;
  box-sizing: border-box;
}
.header_wrp {
  padding: 40px 15px 40px 15px;
  margin-bottom: 40px;
}
.logo {
  float: left;
}
.logo img {
  width: 80px;
}
.list {
  float: right;
}
.list-item {
  margin-left: 30px;
  list-style-type: none;
  float: right;
}
.list-link {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.list-link:hover {
  color: #1abc9c;
}
.product {
  margin-bottom: 75px;
}
.section_title {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 25px;
  color: #555252;
}
.decorative_line {
  text-align: center;
  margin-bottom: 65px;
}
.decorative_line img {
  width: 164px;
}
.card {
  float: left;
  background: #e8effc;
  width: 255px;
  height: 320px;
  margin: 15px;
}
.product_img {
  height: 280px;
}
.product_name {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
}
.name {
  background: #323232;
  width: 200px;
  float: left;
  height: 40px;
  padding: 10px;
}
.price {
  background: #8c8c8c;
  width: 55px;
  float: right;
  height: 40px;
  padding: 11px;
}
.card:hover .name {
  background: #1abc9c;
}
.card:hover .price {
  background: #7fd9c7;
}

.card_news {
  float: left;
  width: 350px;
  height: 500px;
  margin: 15px;
}
.image_news {
  height: 270px;
}
.title_news {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #555252;
  line-height: 26px;
}
.discr_news {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #555252;
  line-height: 26px;
  letter-spacing: -1px;
  margin: 15px 0 10px;
}
.link_news {
  width: 160px;
  display: block;
  text-decoration: none;
  border-radius: 4px;
  background: #4ec6ab;
  padding: 15px 40px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: white;
  letter-spacing: -1px;
  margin-bottom: 80px;
}
