* {
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #000;
  text-align: left;
}
.header {
  padding: 35px 15px;
}
.list {
  list-style: none;
  font-size: 0;
  float: right;
  /* text-align: left; */
}
.list_item {
  display: inline-block;
  font-size: 16px;
  padding: 2px 0 0 40px;
}
.list_link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-weight: 900;
  color: #000;
  padding: 0;
}
.list_link:visited {
  color: #000;
}
.list_link:hover {
  color: #1abc9c;
}
.clearfix {
  content: "";
  display: table;
  clear: both;
}
.container {
  width: 1140px;
  /* padding: 15px; */
  margin: auto;
}

.logo {
  text-decoration: none;
  font-size: 20px;
  color: #000;
}
.logo img {
  width: 80px;
  margin-bottom: -4px;
}
.slider {
  width: 100%;
  position: relative;
  background-image: url(/images/slayder.png);
  height: 600px;
  background-repeat: no-repeat;
  background-size: 100%;
}
.title_slider {
  padding: 0 15px;
  height: 100px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.title_h4 {
  color: white;
  font-size: 44px;
  text-align: center;
  text-transform: uppercase;
}
.title_h3 {
  color: white;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
}

.slider_btn {
  width: 100px;
  height: 100px;
  padding: 0;
  position: absolute;
  background-color: #1abc9c;
  opacity: 0.65;
  border: none;
  outline: none;
  transition: opacity 0.4s ease;
}
.right-arrow::before,
.left-arrow::before {
  content: "";
  --s: 28px;
  --bd: 4px solid #fff;
  width: var(--s);
  height: var(--s);
  border-left: var(--bd);
  border-top: var(--bd);
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.right-arrow {
  right: 15px;
  top: 0;
}
.right-arrow::before {
  left: 45%;
  transform: translate(-50%, -50%) rotate(135deg);
}
.left-arrow::before {
  left: 55%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.slider_btn:hover,
.slider_btn:focus {
  background-color: #4ec6ab;
  opacity: 1;
  cursor: pointer;
}
