body {
  margin: 0;
  padding: 0;
}
.container {
  width: 900px;
  margin: auto;
}
header {
  padding: 75px 0 100px;
}
.list {
  margin-left: 0;
  padding-left: 0;
  font-size: 0;
  text-align: center;
}
.list-item {
  list-style-type: none;
  display: inline-block;
  margin: 0 50px;
}
.list-link {
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #626262;
}
.list-link:hover {
  color: #03a9f4;
}
.cards {
  font-size: 0;
  text-align: center;
}
.card-wrp {
  width: 420px;
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
}
.card-wrp:nth-child(odd) {
  margin-right: 30px;
}
.card-wrp:nth-child(even) {
  margin-left: 30px;
}
.card-img-name {
  margin-top: 30px;
  font-family: 'Ubuntu', sans-serif;
  color: #b4ad9e;
  text-transform: uppercase;
  font-size: 14px;
  text-align: start;
}
.card-heading {
  margin-top: 30px;
  color: #626262;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  font-weight: normal;
  text-align: start;
}
.card-discription {
  margin-top: 40px;
  margin-bottom: 140px;
  text-align: start;
  color: #626262;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
}
.bottom {
  margin-bottom: 0;
}
footer {
  width: 900px;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0 70px;
}

.btn {
  max-width: 250px;
  display: inline-block;
  cursor: pointer;
  border: solid 1px #626262;
  padding: 18px 35px;
}

.btn-link {
  margin: 0;
  padding: 0;
  background-color: transparent;
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  color: #626262;
}
